//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    button.action.tocart.primary {
        .lib-font-size(14);
        letter-spacing: 1px;
        font-weight: 500;
        color: @color-Skeleton-black;
        text-align: center;
        padding: 0 0 @indent__s 0;
        border: none;
        border-bottom: 1px solid @color-Skeleton-black;
        margin: auto;
        background: none;
    }

    .breadcrumbs {
        margin-bottom: @indent__xl;
    }

    .children-categories {
        display: inline-block;
        margin: 0 2px @indent__base 0;
        .lib-font-size(16);
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;

        > a {
            color: @color-Skeleton-black;

        }
    }

    .toolbar {
        &-amount {
            margin-right: @indent__m;
            position: unset;
        }

        &-sorter {
            position: unset;

            label {
                display: none;
            }
        }

        &-products {
            .field.limiter {
                margin-right: @indent__m;
            }
        }
    }

    .sidebar-main {
        .block-subtitle.filter-subtitle {
            display: none;
        }

        .filter-options-title {
            .lib-font-size(18);
            text-transform: uppercase;
            padding-bottom: @indent__base;
            letter-spacing: 1px;
            font-weight: 600;
        }
    }

    .sidebar-additional {
        .widget.block-static-block {
            margin-right: @indent__base;
        }
    }

    .product-item-link {
        font-weight: 500;
    }

    .wrapper.products-grid {
        .product-item {
            &-photo {
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }

            .product-item-photo-hovered {
                position: absolute;
                visibility: visible;
                opacity: 0.5;
                transition: 0.7s;
            }

            .product-item-info:hover {

                .products.wrapper.grid {

                }

                .product-item-photo {
                    visibility: hidden;
                }

                .product-item-photo-hovered {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }

    .our-products-row, .wrapper.products-grid {
        .product-item {

            &-name {
                margin: @indent__xs 0;
                .lib-vendor-prefix-display(flex);
                justify-content: center;
            }

            &-actions {
                display: block;
                margin: 0;
                height: 100%;

                .actions-secondary {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(column);
                    .lib-vendor-box-align(center);
                }
            }

            &-info {
                position: relative;
                width: 100%;
                height: 440px;
                display: flex;
                flex-direction: column;

                .product-item-details {
                    height: 18%;
                }

                img {
                    margin: 0;
                }

                .product-item-details {
                    .price-box.price-final_price {
                        margin-top: 0;
                    }

                    .actions-primary {
                        display: inline-block;
                        visibility: hidden;
                        margin-left: 0;
                        margin-top: @indent__s;
                        padding: 0;
                        width: 70px;
                    }

                }

                .product-item-inner {
                    box-shadow: none;
                    border: none;
                    margin: 0;
                    padding: 0;
                    background: @color-Skeleton-white;
                    position: absolute;
                    bottom: 50px;
                    left: 115px;
                    z-index: 2;
                    width: 60px;
                    height: 110px;
                    visibility: hidden;
                }

                &:hover {

                    .product-item-inner {
                        margin: 0 0 160px 0;
                        opacity: 0.95;
                        transition: 1s margin-bottom ease;
                        visibility: visible;
                    }

                    .product-item-details {
                        .price-box.price-final_price {
                            display: none;
                        }

                        .actions-primary {
                            display: block;
                            visibility: visible;
                            transform: translateX(95px);
                            transition: 1s all ease;

                            form {
                                .lib-vendor-prefix-display(flex);
                                align-items: center;

                                button {
                                    .lib-font-size(14);
                                    letter-spacing: 1px;
                                    font-weight: 500;
                                    color: @color-Skeleton-black;
                                    text-align: center;
                                    padding: 0 0 @indent__s 0;
                                    border: none;
                                    border-bottom: 1px solid @color-Skeleton-black;
                                    margin: auto;
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .list.products-list {
        .product-item-info {
            align-items: center;
            display: flex;

            .product-item-details {
                text-align: left;
                margin-left: 30px;
                display: flex;
                flex-direction: column;

                .product-item-name {
                    margin: 0 0 @indent__xl 0;
                }

                .price-box {
                    margin: 0 0 @indent__base 0;
                    justify-content: unset;
                }

                .actions-primary {
                    display: flex;
                    justify-content: space-around;

                    form {
                        margin-top: @indent__xs + 2;
                    }
                }

                .product-item-description {
                    display: none;


                }
            }
        }
    }

    .page-bottom {
        display: none;
    }

    .footer.content {
        border-top: @color-Skeleton-greyish2;
        border-width: 1px;
    }


    .our-products-row {
        .product-item {
            text-align: center;

            &-info:hover {
                .product-item-photo {
                    visibility: unset;
                }
            }
        }
    }


    .three-columns-wrapper {
        [data-content-type='products'] {
            .block.widget {
                .products-grid {
                    .widget-product-grid.product-items {
                        .product-item {
                            margin-bottom: @indent__l;

                            &-info {
                                height: auto;
                            }

                            &-name {
                                justify-content: flex-start;
                            }

                            .product-image {
                                &-container {
                                    max-width: 90px;
                                    height: 111px;

                                    &-wrapper {
                                        width: 90px;
                                        padding: 0;

                                        &-photo {
                                            width: 90px;
                                            height: 111px;
                                            margin: 0;
                                            padding: 0;
                                        }
                                    }
                                }
                            }

                            .price-box.price-final_price {
                                justify-content: flex-start;
                            }

                            &-info {
                                .lib-vendor-prefix-display(flex);
                                .lib-vendor-prefix-flex-direction(row);
                            }

                            &-inner {
                                display: none;
                            }

                            width: 100%;
                            text-align: left;
                            margin-left: 0;

                            &-details {
                                margin-left: @indent__m;

                                .actions-primary {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.product {
    &-item {
        min-width: 300px;

        .products-grid & {
            display: inline-block;
            margin-left: 2%;
            width: calc(~'(100% - 2%)/2');
        }

        &:nth-child(2n + 1) {
            margin-left: 0;
        }

        &:extend(.abs-add-box-sizing all);

        &-name {
            .lib-font-size(16);
            margin: @indent__xs 0 0 0;

            > a {
                color: @color-Skeleton-dark_grey;
            }
        }

        &-actions {

            > * {
                font-size: 1.4rem;
            }

            .actions-secondary {
                display: inline-block;
                .lib-font-size(14);
                vertical-align: middle;

                > button.action {
                    .lib-button-reset();
                }

                > .action {
                    &:extend(.abs-actions-addto all);

                    &:before {
                        margin: 0;
                    }

                    line-height: 35px;
                    text-align: center;
                    width: 35px;

                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }

            .actions-primary {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .price-box {

            .special-price {
                .lib-font-size(12);
            }

            .price {
                font-weight: @font-weight__bold;
                white-space: nowrap;
            }

            .price-label {
                display: none;
            }

            &.price-final_price {
                .lib-vendor-prefix-display(flex);
                justify-content: center;
            }
        }

        .old-price {
            margin: 1px 0 0 @indent__xs;


            .price {
                font-weight: normal;
                .lib-font-size(16);
                text-decoration: line-through;
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .tocompare {
            .lib-icon-font-symbol(
                @icon-compare-full);
        }

        .view {
            .lib-icon-font-symbol(
                @icon-info);
        }


        .tocart {
            .lib-font-size(13px);
            border-radius: 0;
            line-height: 1;
            padding-bottom: @indent__s;
            padding-top: @indent__s;
            white-space: nowrap;
        }
    }
}

.price-container {
    .price {
        .lib-font-size(18);
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }

    .product-item-actions {
        .actions-primary {
            display: block;
        }
    }


}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .our-products-row {
        .product-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {

                .sidebar & {
                    .product-item-photo {
                        left: 9px;
                        top: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 10px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;


        .actions-primary + .actions-secondary {
            display: inline-block;
            vertical-align: middle;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: inline-block;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }


    .page-layout-1column {
        .our-products-row {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: calc(~'(100% - 4%) / 3');

                    &:nth-child(3n + 1) {
                        margin-left: 2%;
                    }
                }
            }
        }
    }

    .block.widget .products-grid .product-item,
    .page-layout-1column .block.widget .products-grid .product-item,
    .page-layout-3columns .block.widget .products-grid .product-item {
        .product-item-inner {
            box-shadow: 3px 6px 4px 0 rgba(0, 0, 0, .3);
        }
    }
}

//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
    .our-products-row {
        .products-grid {
            .product-items {
                margin: 0 @indent__xl * 2.5;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .our-products-row {
        [data-content-type="products"] {
            margin-top: 0 !important; //overrode pb styles
        }

        .products-grid {
            .product-items {
                .lib-vendor-prefix-display(flex);
                justify-content: space-between;

                .product-item {
                    min-width: 100px;
                    margin-left: 2%;
                    width: calc((100% - 8%) / 4) !important; //sorry have no clue how to override this
                }
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: 2%;
                padding: 5px;
                width: calc(~'(100% - 6%)/4');
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

