//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    //.blog-row {
    .custom-blog-title {
        padding-left: @indent__m;
    }

    .custom-blog-title-divider {
        display: inline-block !important; //overrode pb styles
        width: 30px;
        padding-left: @indent__m;

        hr {
            border-width: 3px !important; //overrode pb styles
            border-color: @color-Skeleton-black !important; //overrode pb styles
        }
    }

    //}

    //.blogs-container {
    //    padding: 0 @indent__m @indent__m @indent__m;
    .post-list-wrapper {
        .post {
            &-list {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                .lib-vendor-box-align (center);
                justify-content: space-around;

                .post-header {
                    .post-title-holder {
                        .post-title {
                            > a.post-item-link {
                                color: @color-Skeleton-black;
                                .lib-font-size(18);
                            }
                        }
                    }
                }
            }

            &-holder {
                padding: 0 @indent__s;
                margin: 0 !important; //could not overwrite

                &:nth-child(1) {
                    padding: 0 @indent__s 0 0;
                }

                &:nth-child(3) {
                    padding: 0 0 0 @indent__s;
                }
            }


            &-posed-date {
                .value {
                    color: @color-Skeleton-grey3;
                    .lib-icon-image(
                        @_icon-image: '@{baseDir}images/icons/calendar-icon.png',
                        @_icon-image-height: 17px,
                        @_icon-image-width: 17px,
                        @_icon-image-margin: 10px,
                        @_icon-image-position: before
                    );

                    &:before {
                        background-size: 100%;
                    }
                }
            }

            &-text-hld.clearfix {
                [data-content-type="text"] {
                    p {
                        color: @color-Skeleton-grey3;
                    }
                }
            }
        }
    }
}

//}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .blog-row {
        .custom-blog-title, .custom-blog-title-divider {
            padding: 0;
        }
    }
    .blogs-container {
        padding: 0;
    }
}

