//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .cms-home {
        .banner-row {
            .pagebuilder {
                &-overlay.pagebuilder-poster-overlay {
                    height: 90vh;
                }

                &-banner-wrapper {
                    a {
                        color: @color-Skeleton-black;
                        text-decoration: underline;
                        .lib-font-size(16);
                    }
                }

                &-poster-content {
                    [data-element="content"] {
                        max-width: 400px;
                    }
                }
            }
        }

        .categories-row {
            height: 100%;
            margin-bottom: @indent__l !important; //overrode pb styles
            .pagebuilder-column {
                &:first-of-type {
                    margin-bottom: @indent__l;
                }

                [data-content-type="banner"] {
                    margin: 0 !important; //overrode pb styles
                }
            }

            .pagebuilder-banner-wrapper {
                height: 350px;

                .pagebuilder-overlay.pagebuilder-poster-overlay {
                    justify-content: flex-end;
                }
            }

            .pagebuilder-poster-content {
                margin-top: @indent__base;
                text-align: right;
                width: 50%;
                background-color: @color-Skeleton-creme;
                opacity: 0.9;

                h1 {
                    .lib-font-size(26);
                }

                a {
                    color: @color-Skeleton-black;
                    text-decoration: underline;
                    .lib-font-size(16);
                }
            }
        }

        .our-products-text {
            text-align: center;

            h1 {
                margin-bottom: 0;
            }

            h4 {
                margin-top: @indent__s;
            }
        }

        .divider-our-products {
            hr {
                border-color: @color-Skeleton-black !important; //overrode pb styles
                display: block !important; //overrode pb styles
            }
        }

        .november-sale-row {
            .pagebuilder-column-group {
                display: flex;
                flex-direction: column;

                .pagebuilder-column {
                    width: 100% !important; //overrode pb styles
                    align-items: center;

                    .november_sale-title {
                        margin: 0 !important; //overrode pb styles
                        text-align: center !important; //overrode pb styles
                        h2 {
                            margin: 0 !important; //overrode pb styles
                            text-align: center !important; //overrode pb styles
                        }

                        p {
                            margin: 0 !important; //overrode pb styles
                            text-align: center !important; //overrode pb styles
                        }
                    }

                    .november_sale-link {
                        text-align: center !important; // overrode pb styles
                        margin: 0 !important; //overrode pb styles
                        a {
                            text-align: center !important; // overrode pb styles
                            margin: 0 !important; //overrode pb styles
                            color: @color-Skeleton-black;
                            text-decoration: underline;
                            .lib-font-size(16);
                        }
                    }
                }
            }

            .november_sale-title {
                margin: 0 !important; //overrode pb styles
                text-align: center !important; //overrode pb styles
                h2 {
                    margin: 0 !important; //overrode pb styles
                    text-align: center !important; //overrode pb styles
                }

                p {
                    margin: 0 !important; //overrode pb styles
                    text-align: center !important; //overrode pb styles
                }
            }

            .november_sale-link {
                text-align: center !important; // overrode pb styles
                margin: 0 !important; //overrode pb styles
                a {
                    text-align: center !important; // overrode pb styles
                    margin: 0 !important; //overrode pb styles
                    color: @color-Skeleton-black;
                    text-decoration: underline;
                    .lib-font-size(16);
                }
            }
        }

        .three-columns-wrapper {
            padding: 0 @indent__l;

            h3 {
                padding-bottom: 20px;
                border-bottom: 1px solid @color-Skeleton-grey5;
                margin-bottom: 40px;
            }
        }

        .shop-by-brands-row {
            padding: 0 @indent__l;

            .heading-shop-by-brands {
                border-bottom: 1px solid @color-Skeleton-grey5;
                padding-bottom: @indent__l;
            }

            .pagebuilder-column-group {
                .lib-vendor-prefix-flex-wrap(nowrap);
                padding: 0 @indent__xs * 3;
                text-align: center;


            }
        }
        .page-bottom {
            height: 175px;
            align-items: center;
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            justify-content: space-evenly;
            background-color: @color-Skeleton-greyish;


            .subscribe-title {
                color: @color-Skeleton-black;
                font-weight: 600;
                text-align: center;
                .lib-font-size(20);
                margin-top: @indent__s;

                &-after {
                    margin: 0;
                    .lib-font-size(16);
                }
            }

            div.block.newsletter {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);

                div.content {
                    margin-top: @indent__s * 1.5;
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);

                    form#newsletter-validate-detail.form.subscribe {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);

                        .actions {
                            height: 55px;

                            button {
                                margin-left: 3px;
                                background-color: @color-Skeleton-black;
                                padding: 18px 20px;
                            }
                        }

                        .field.newsletter {
                            max-width: 200px;

                            .control {
                                &:before {
                                    display: none;
                                }

                                .label {
                                    input[name="email"]#newsletter {
                                        padding: 0 0 0 @indent__s * 1.5;
                                        height: 50px !important;
                                        margin-right: 0;
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



}

.page-footer {
    background-color: @color-Skeleton-white;

    .footer.content {
        max-width: none;
        padding: 0;
        border-top: none;

        .footer-top {
            margin-top: 50px;
            .pagebuilder-column {
                width: 18% !important; // overrode pb styles
                &-group {
                    justify-content: center;
                }
                h2 > a {
                    .lib-font-size(20);
                    color: @color-Skeleton-black;
                    text-decoration: none;
                }

                p {
                    transition: all 0.5s ease-in-out;

                    > a {
                        color: @color-Skeleton-grey3;
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover {
                        transform: translateX(20px);

                        a {
                            color: #222222;
                            text-decoration: none;

                            &:before {
                                content: "\25CF";
                                display: inline-block;
                                position: relative;
                                right: 2%;
                            }
                        }
                    }
                }
            }

        }

        .bottom-footer {
            .pagebuilder-column-group {
                .lib-vendor-prefix-display(flex);
                justify-content: space-around;

                .pagebuilder-column {
                    &:first-of-type {
                        width: 25% !important; //overrode pb styles
                        .lib-vendor-prefix-flex-direction(row) !important; //overrode pb styles
                        justify-content: space-evenly !important; //overrode pb styles
                        text-decoration: none;

                        a {
                            color: @color-Skeleton-grey3;
                        }
                    }

                    &:last-of-type {
                        width: 25% !important; //overrode pb styles
                        .lib-vendor-prefix-flex-direction(row) !important; //overrode pb styles

                        p {
                            color: @color-Skeleton-grey3;
                        }

                        .footer-image {
                            width: 20px;
                            height: 16px;
                            margin-left: @indent__s;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-home {
        .banner-row {
            .pagebuilder {
                &-banner-wrapper {
                    background-position: initial !important; //overrode pb styles
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-home {
        .banner-row {
            .pagebuilder-overlay.pagebuilder-poster-overlay {
                height: 850px;
                margin-left: @indent__xl !important; //overrode pb styles
                h1 {
                    .lib-font-size(36);
                }

                p {
                    max-width: 400px;
                }

            }
        }

        .categories-row {
            height: 750px;

            .pagebuilder-column-group {
                .lib-vendor-prefix-flex-direction(column);

                .pagebuilder-column {
                    width: 100% !important; //overrode pb styles
                }
            }

            .pagebuilder-poster-content {
                margin-top: @indent__base;
                text-align: right;
                width: 50%;
                background-color: @color-Skeleton-creme;
                opacity: 0.9;

                a {
                    color: @color-Skeleton-black;
                    text-decoration: underline;
                    .lib-font-size(16);
                }
            }
        }


        .categories-text-right {
            .pagebuilder-banner-wrapper {
                .pagebuilder-overlay {
                    &.pagebuilder-poster-overlay {
                        justify-content: flex-end;
                    }
                }
            }
        }

        .pagebuilder-poster-content {
            h1 {
                margin: 0;
            }

            a {
                .lib-font-size(18);
                text-decoration: underline;
                color: @color-Skeleton-black;
            }
        }

        .our-products-text {
            text-align: center;

            h1 {
                margin-bottom: 0;
            }

            h4 {
                margin-top: @indent__s;
            }
        }

        .divider-our-products {
            hr {
                border-color: @color-Skeleton-black !important; //overrode pb styles
                display: block !important; //overrode pb styles
            }
        }

        .november_sale {
            &-link {
                a {
                    text-decoration: underline;
                    color: @color-Skeleton-black;
                    .lib-font-size(18);
                }

                p {
                    margin-bottom: 0;
                }

            }

            &-title {
                > h2 {
                    margin-top: @indent__s;
                }
            }
        }

        .three-columns-wrapper {
            padding: 0 @indent__m;

            h3 {
                padding-bottom: @indent__base;
                border-bottom: 1px solid @color-Skeleton-grey4;
                margin-bottom: @indent__xl;
            }
        }

        .three-columns-unit {
            &:first-child {
                padding: 0 @indent__base 0 0;
            }

            &:last-child {
                padding: 0 0 0 @indent__base;
            }

        }

        .three-columns-wrapper {
            padding: 0;

            .pagebuilder-column-group {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column);
                justify-content: center;
                .lib-vendor-box-align(center);

                .three-columns-unit {
                    width: 100% !important; // overrode pb styles
                    &:last-of-type {
                        padding: 0;
                    }

                    [data-content-type="text"] {
                        text-align: center !important; //overrode pb styles
                    }

                    [data-content-type="products"] {
                        width: 100%;

                        .product-items.widget-product-grid {
                            .lib-vendor-prefix-display(flex);
                            .lib-vendor-prefix-flex-direction(row);
                            justify-content: space-around;
                        }
                    }
                }
            }
        }

        .shop-by-brands-row {
            .pagebuilder-column-group > [data-content-type="column"].pagebuilder-column {
                width: 20% !important; //sorry couldn't give it more priority
                align-items: center;
                flex-wrap: nowrap !important; // same problem, found _mobile.less, _default.less files but see no point in overriding
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-home {

        .page-bottom {
            height: 150px;
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(row);
            justify-content: space-evenly;
            background-color: @color-Skeleton-greyish;

            .subscribe-title {
                color: @color-Skeleton-black;
                font-weight: 600;
                margin-top: 0;
                text-align: left;

                &-after {
                    color: @color-Skeleton-dark_grey;
                    .lib-font-size(16);
                }
            }

            div.block.newsletter {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);

                div.content {
                    margin-top: @indent__s * 1.5;
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);

                    form#newsletter-validate-detail.form.subscribe {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);

                        .actions {
                            height: 55px;

                            button {
                                margin-left: 3px;
                                background-color: @color-Skeleton-black;
                                padding: 18px 35px;
                            }
                        }

                        .field.newsletter {
                            max-width: none;

                            .control {
                                &:before {
                                    display: none;
                                }

                                label {
                                    input[name="email"]#newsletter {
                                        padding: 0 0 0 @indent__s * 1.5;
                                        height: 50px;
                                        margin-right: 0;
                                        width: 300px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-home {
        .banner-row {
            .pagebuilder-overlay.pagebuilder-poster-overlay {
                height: 850px;
                margin-left: 0;

                .pagebuilder-poster-content {
                    width: 75%;
                }

            }

            h1 {
                .lib-font-size(36);
            }

            p {
                max-width: 400px;
            }

        }

        .categories-row {
            height: 375px;

            .pagebuilder-column-group {
                .lib-vendor-prefix-flex-direction(row);
                justify-content: space-around;

                .pagebuilder-column {
                    width: 50%;

                    &:nth-child(1) {
                        margin-right: @indent__base;
                    }

                    &:nth-child(2) {
                        margin-left: @indent__base;
                    }
                }
            }
        }

        .our-products-text {
            text-align: left;

            h1 {
                margin-bottom: 0;
            }

            h4 {
                margin-top: @indent__s;
                margin-bottom: 0;
            }
        }

        .divider-our-products {
            hr {
                border-color: @color-Skeleton-black !important; //overrode pb styles
                display: inline-block !important; //overrode pb styles
            }
        }

        .november-sale-row {
            [data-content-type="column-group"].pagebuilder-column-group {
                .lib-vendor-prefix-flex-direction(row);
            }
        }

        .three-columns-wrapper {
            .pagebuilder-column-group {
                .lib-vendor-prefix-flex-direction(row);

                .pagebuilder-column {
                    padding-right: @indent__base;

                    [data-content-type="text"] {
                        text-align: left !important; // overrode pb styles
                    }

                    .block.widget.block-products-list.grid {
                        .block-content {
                            .products-grid.grid {
                                ol.product-items.widget-product-grid {
                                    .lib-vendor-prefix-flex-direction(column);
                                    justify-content: space-around;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}








