//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-home {
        * {
            letter-spacing: 2px;
        }
        div.pagebuilder-poster-content {
           width: 50%;
       }

        button.pagebuilder-banner-button {
            margin: @indent__m 0 0 0;
            padding: 0;
            text-decoration: underline;
            color: black;
        }
    }
}
